@page
@using Esh3arTech.Localization
@using Esh3arTech.Web.Pages.Plans
@using Microsoft.Extensions.Localization
@model Esh3arTech.Web.Pages.Plans.IndexModel
@inject IStringLocalizer<Esh3arTechResource> L
@section scripts
{
    <abp-script src="/Pages/Plans/Index.js" />
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <h2>@L["Plans"]</h2>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                <abp-button id="NewPlanBtn" text="@L["NewPlan"].Value" icon="plus" button-type="Primary">
                </abp-button>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="PlanTable"></abp-table>
    </abp-card-body>
</abp-card>