@model Esh3arTech.Web.Pages.Messages.SendMessageViewModal

<div class="col-md-12">
    <h4 class="mb-4">Image</h4>
    <div class="row">
        <div class="col-6">
            <div>
                <input type="file" id="Send_ImageFile" asp-for="@Model.ImageFile" class="form-control border-0" hidden>
                <label id="upload-label" for="Send_ImageFile" class="btn btn-primary btn-lg text-white">Choose file</label>
                <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>